<div class="col-md-5 col-md-offset-3">
<%= form_for @post do |f|%>
    <%=f.label :title , 'Title'%>
    <%=f.text_field :title , placeholder: 'Title', class: 'form-control'%>
    <%=f.label :content , 'Content'%>
    <%=f.text_area :content , placeholder: 'Content',class: 'form-control'%>
    <%= f.submit 'Post', class: 'btn btn-primary'%>
<%end%>
</div>